# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Local data (even though DB lives outside repo, keep it here if created by mistake)
chroma_db/

# Local settings
*.local.json

runs/
tasks/
direction/